.pro {
    border: 1px solid #eaebed;
    display: flex;
    width: 100vh;
    height: 25vh;
    margin: 30px;
}

.pro:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.22);
}

.pro img {
    width: 15%;
}

.c-infor {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.quantity button {
    width: 35px;
    height: 35px;
    border: none;
    /* border-bottom: 3px solid #da4f4f; */
    border-radius: 5px;
    background-color: #da4f4f;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 8px;
}

.quantity button:hover {
    background-color: #d96c6c;
    cursor: pointer;
}

.quantity input {
    width: 50px;
    height: 38px;
    border: none;
    border-bottom: 3px solid #da4f4f;
    border-radius: 5px;
    font-size: 16px;
}

.quantity input:hover {
    background-color: #ffdcdc;
}

#container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.after {
    display: flex;
    align-items: center;
}

.remove {
    border: none;
    background-color: #ffffff;
    height: 20px;
    width: 50px;
    margin-left: 20px;
}

.remove:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ff0000;
}