.pro {
    border: 1px solid #eaebed;
    display: flex;
    width: 100vh;
    height: 25vh;
    margin: 30px;
    background-color: #ff770029;
    border-radius: 5px;
}

.pro:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.22);
}

.pro img {
    width: 15%;
}

.c-infor {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.quantity button {
    width: 35px;
    height: 35px;
    border: none;
    /* border-bottom: 3px solid #da4f4f; */
    border-radius: 5px;
    background-color: #da4f4f;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 8px;
}

.quantity button:hover {
    background-color: #d96c6c;
    cursor: pointer;
}

.quantity input {
    width: 50px;
    height: 38px;
    border: none;
    border-bottom: 3px solid #da4f4f;
    border-radius: 5px;
    font-size: 16px;
}

.quantity input:hover {
    background-color: #ffdcdc;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#cart-products {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.after {
    display: flex;
    align-items: center;
}

.remove {
    border: none;
    background-color: #ff770000;
    height: 20px;
    width: 50px;
    margin-left: 20px;
}

.remove:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ff0000;
}

.home {
    height: auto;
}

.clear-cart {
    font-size: 16px;
    width: 140px;
    height: 40px;
}

.checkout {
    margin-top: 10px;
    width: 140px;
    height: 40px;
}

.lower-cart {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 300px;
    background-color: #ffdab9;
}

.t-cost {
    width: 200px;
    height: 100px;
    background-color: #c6c6c600;
    border-top: 2px solid #cbcbcb;
    border-bottom: 2px solid #cbcbcb;
}

.t-cost p {
    margin-top: 10px;
    margin-left: 10px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-bottom: 33px;
}

.main > p {
    text-align: center;
}